<!DOCTYPE html>
<html>
	<head>
		<title>GravenDev Concours</title>
		<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width,initial-scale=1">
	</head>
	<body class="bg-gray-100">
		<div class="md:absolute top-0 right-0 text-center">
			<a class="m-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" href="{lienconnect}">Se {textconnect}</a>
		</div>
		<div class="flex justify-center">
			<div class="flex flex-col w-2/3 md:max-w-2xl">
				<div class="m-2 text-center text-2xl">Participants :</div>
					{users}
				</div>
			</div>
		</div>
	</body>
</html>